{% extends 'base.html' %}
{% load static %}

{% block contents %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1P+r2RvV91iCpc0v3hqwpkMtT3w9PSxJHBUb1L/FJU7Mw8mL+1Vxu/1T4vF6oSm/SOsWb7mj8TKL3L3LLFJ+VA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="jumbotron" style="background-color: #E8F6F3;">
    <div class="container">
      <h1 class="display-3" style="font-family: 'Times New Roman', Times, serif; font-weight: bold; font-size: 50px;">Towards Secure And Intelligent Healthcare: Integrating Blockchain And Machine Learning</h1>

      <!-- <h1 class="display-3" >Towards Secure And Intelligent Healthcare: Integrating Blockchain And Machine Learning</h1> -->
      <p style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">
        There are a lot of opportunities when blockchain
        and machine learning come together, especially in the healthcare
        industry. Access to large and trustworthy data is essential for
        machine learning to assess data and make conclusions. However,
        accessibility and privacy issues with centralized data storage are
        frequently present. The decentralized nature of blockchain, on
        the other hand, guarantees integrity-preserving, transparent,
        and safe data sharing.  </p>
        
        <p style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Blockchain secures
        patient data interchange amongst stakeholders, while machine
        learning algorithms improve epidemic detection, individualized
        therapy, and disease prediction. Healthcare institutions may
        guarantee data privacy and promote collaborative research by
        utilizing secure blockchain networks. Although there are still
        issues with manual data entry and blockchain database
        scalability, these issues do not overwhelm these technologies'
        revolutionary potential. With the promise of improved patient
        outcomes, more streamlined processes, and greater creativity,
        blockchain technology and machine learning are ushered in a
        new era in healthcare. Additional study and application are
        needed to fully realize the promise of these technologies in the
        healthcare industry and other disciplines.</p>
    
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <!-- First Row -->
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px;">
                <div class="col-md-12" style="background-color: #AED6F1; border-radius: 10px; padding: 20px;">
                    <h2 style="font-family: 'Times New Roman', Times, serif; font-size: 36px;"><b>INTRODUCTION</b></h2>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">
                        Data is a very important resource in machine learning. The data can also be used in preprocessing techniques for improving research environments. The data can be gathered from interviews, questionnaire, surveys, and studies or generated electronically over the internet. The quality as well as quantity of data improves efficiency, classification and prediction rate in machine learning. Machine Learning models have proved their significance in various sectors like healthcare, transportation, e-commerce, and marketing. It can be used for prediction and detection of diseases like cancer, diabetes etc. in healthcare.
                    </p>
                </div>
            </div>
        </div>
        <!-- Second Row -->
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px;">
                <div class="col-md-12" style="background-color: #F6DDCC; border-radius: 10px; padding: 20px;">
                    <h2 style="font-family: 'Times New Roman', Times, serif; font-size: 36px;"><b>PERMISSIONED BLOCKCHAIN</b></h2>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">
                        The blockchain design pattern was made famous by Bitcoin but Bitcoin is an application of blockchain technology. The blockchain technology has gone far beyond. In bitcoin transactions any node can join the network without any permission. To adopt the decentralized benefits of blockchain technology, business enterprises also needed certain level of privacy. Multiple organizations can come to a common shared platform where they can exchange business information with one another in shared and secured manner. The decentralized database where transactions get recorded in append only shared ledger has many advantages in healthcare industry. Inmedical treatment, the complete history of patient is very important and value is added when same information is accessed by different parties. The permissioned blockchain network will have following components
                    </p>
                </div>
            </div>
        </div>
        <!-- Third Row -->
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px;">
                <div class="col-md-12" style="background-color: #D2B4DE; border-radius: 10px; padding: 20px;">
                    <h2 style="font-family: 'Times New Roman', Times, serif; font-size: 36px;"><b>MACHINE LEARNING IN HEALTHCARE</b></h2>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">
                        Machine learning has been extensively used to benefit healthcare. Machine Learning can be used in identification of Treatment, give personalized suggestion to Patient, Outbreak Prediction etc.. User can get disease summary on the basis of symptoms entered [10]. Tokenization, removal of stop words and stemming are used as preprocessing. Many techniques have been done in this area which include SVM classifier, Naive Bayes and Decision Trees. The best result obtained has the accuracy percentage of 98.51%. The machine learning algorithm can also give lifestyle suggestion to Patient on the basis of current medical situation and medical history.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<!-- Footer -->
<!-- Footer -->
<div class="footer" style="background-color: #76D7C4; padding: 5px 20px;">
  <div class="container">
    <div class="row">
      <!-- Left half with mail and message box -->
      <div class="col-md-6">
        <h4>Subscribe to Our Newsletter</h4>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
      </div>
      <!-- Right half with social icons -->
      <div class="col-md-6">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="https://www.whatsapp.com"><img src="{% static 'images/whatsapp.png' %}" alt="WhatsApp" style="width: 40px; height: auto;"></a>
          <a href="https://www.instagram.com"><img src="{% static 'images/instagram.png' %}" alt="Instagram" style="width: 40px; height: auto;"></a>
          <a href="https://www.telegram.org"><img src="{% static 'images/telegram.png' %}" alt="Telegram" style="width: 40px; height: auto;"></a>
          <a href="https://www.twitter.com"><img src="{% static 'images/twitter.png' %}" alt="Twitter" style="width: 40px; height: auto;"></a>
          <a href="https://www.facebook.com"><img src="{% static 'images/facebook.png' %}" alt="Facebook" style="width: 40px; height: auto;"></a>
          <a href="https://www.discord.com"><img src="{% static 'images/discord.png' %}" alt="Discord" style="width: 40px; height: auto;"></a>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}
