asgiref==3.8.1
asttokens 
backcall 
backports.zoneinfo==0.2.1
click==8.1.7
colorama 
comm 
debugpy 
decorator 
Django==2.1.5
executing 
importlib_metadata 
ipykernel 
ipython 
jedi 
joblib==1.4.0
jupyter_client 
jupyter_core 
matplotlib-inline 
mysql==0.0.3
mysqlclient==2.2.4
nest_asyncio 
nltk==3.8.1
packaging 
parso 
pickleshare 
pillow==10.3.0
prompt-toolkit 
psutil 
pure-eval 
Pygments 
python-dateutil 
pytz==2024.1
pywin32==227
pyzmq 
regex==2023.12.25
six 
sqlparse==0.4.4
stack-data 
tornado 
tqdm==4.66.2
traitlets 
typing_extensions 
tzdata==2024.1
wcwidth 
zipp 
